html
  head
    link(rel='stylesheet', href='/browser.css', type='text/css', media='all')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(type='text/javascript', src='/js/jquery.tablesorter.js')
    script(type="text/javascript").
      $(function(){
        $('table.filetable').tablesorter(); // Fixme doesn't get sizes right.
      });
  body
    h2 File Browser

    -var totpath = '/';
    -for(var part of path.split('/')) {
      -totpath += part;
      a(href="/browser"+totpath)=part
      -totpath += '/'
      span /
    -}

    each title,ext in extensions
      -if(files[ext].length>0) {
        h3=title
        table.filetable.tablesorter
          thead
            tr 
              th Filename
              th.sorttable_numeric Modification date
              th.sorttable_numeric Size
          tbody
              each f in files[ext] 
                  tr
                    td.filename
                      a(href=targetlink+'#filename='+f.pathname)=f.filename 
                    td(data-sort=f.mtime).date=f.modified
                    td(data-sort=f.sizedata).size=f.size
      -}
    
    h3 Subdirectories:
    each f in files.dirs
      table.filetable
        a(href='/browser'+f.pathname)=f.filename